---
import Layout from "../layouts/Layout.astro";
---

<Layout page="home">
	<header>
		<div
			class="flex items-center content-center justify-center text-5xl mt-5 mx-2"
		>
			UPSC Physics Optional Question Bank
		</div>
	</header>
</Layout>
