---
import Layout from "../layouts/Layout.astro";
---

<Layout page="home">
	<header>
		<div
			class="flex items-center content-center justify-center text-5xl mt-5 mx-2"
		>
			UPSC Physics Optional Question Bank
		</div>
	</header>
	<div class="text-center mt-10 md:mt-20 text-2xl">
		Ready to conquer the physics optional with some help? Try <a
			href="https://www.physicsupsc.com/intense-support-program-for-upsc-physics-optional"
			class="bg-gradient-to-r from-violet-600 to-indigo-600 bg-clip-text text-transparent font-bold"
			>ISP</a
		> now.
	</div>
	<div class="text-center mt-10 text-2xl">
		Searching for the best books for the UPSC physics optional? Checkout our <a
			href="https://www.physicsupsc.com/upsc-physics-optional-booklist"
			class="bg-gradient-to-r from-emerald-400 to-cyan-400 bg-clip-text text-transparent font-bold"
			>booklist</a
		> now.
	</div>
	<div class="text-center mt-10 text-2xl">
		Achieve your dream rank with the ultimate mains test series. Enroll for <a
			href="https://www.physicsupsc.com/upsc-physics-mains-ready-test-series"
			class="bg-gradient-to-r from-rose-400 to-red-500 bg-clip-text text-transparent font-bold"
			>Mains Ready Tests</a
		> now.
	</div>
</Layout>
