---
import Layout from "../layouts/Layout.astro";
---

<Layout page="isp">
    <h1 class="text-4xl text-center mt-5">Intense Support Program</h1>
    <div class="flex flex-col gap-2 items-center mt-5 mx-2">
        <p>
            It is a broad framework along with subject and/or topic wise
            details. It is modelled on Syllabus by analysing the PYQs.
        </p>

        <h3>You will be getting:</h3>

        <div class="flex flex-col pl-6">
            <p>✅ PYQs solution and/or source to solve it</p>
            <p>✅ S-PYQs with solution</p>
            <p>✅ Day to Day support and guidance</p>
            <p>✅ Weekly on demand meet in online mode for confidence boost</p>
            <p>✅ Pinpoints on what to study and limitations on depth</p>
            <p>✅ Relevant study materials in e-Book form</p>
        </div>

        <p>
            The course starts with focus on CBR, and non rigid methods with
            'break to rule' approach. (CBR - cost benefit ratio)
        </p>

        <p>The course fee is ₹6999/-</p>

        <p>For more details: <a href="https://t.me/physicsupsc_official" class="text-blue-600">Telegram</a></p>
        <p>Email: <a href="mailto:admin@physicsupsc.com" class="text-blue-600">admin@physicsupsc.com</a></p>
    </div>
</Layout>
